@import "tailwindcss";

:root {
  --primary-clr: #A31621;
  --good-clr: #0D491B;
  --bad-clr: #490D0D;
  --accent: #660000;
  --background: #FFF5F2;
  --foreground: #0C1714;
}

@theme inline {
  --color-primary: var(--primary-clr);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-inter);
  --font-display: var(--font-google-sans-flex);
}

[data-theme="landing"] {
  --accent: #FFE5E5;
  --background: var(--primary-clr);
  --foreground: #F2F8F6;
}
